/vendor/
/node_modules/
/assets/node_modules/
/assets/build/
/src/assets/build/
/composer.lock
/package-lock.json
/yarn.lock
/.phpunit.result.cache
/wp-env.json
/.wp-env
/*.log

# Release artifacts
/release/
/club-competitions.zip
