<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Photo Competition Manager">
            <directory suffix="-test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">admin</directory>
            <directory suffix=".php">public</directory>
        </include>
    </coverage>
    <php>
	    <env name="WP_TESTS_DIR" value="/Users/donncha/.wp-env/f357678ee7c122bd1ca96b81029479d4/WordPress-PHPUnit/tests/phpunit"/>
	    <env name="WP_CORE_DIR" value="/Users/donncha/.wp-env/f357678ee7c122bd1ca96b81029479d4/WordPress"/>
    </php>
</phpunit>
